name: Backend ECR Push Only

on:
  push:
    branches: [dev, stage, main]

env:
  AWS_REGION: ap-northeast-2
  ACCOUNT_ID: 115313776476

jobs:
  push-to-ecr:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set environment variables
        run: |
          SHORT_SHA=${GITHUB_SHA::7}
          BRANCH_NAME=${GITHUB_REF##*/}

          if [[ "$BRANCH_NAME" == "dev" ]]; then
            echo "ENV=dev" >> $GITHUB_ENV
          elif [[ "$BRANCH_NAME" == "stage" ]]; then
            echo "ENV=stage" >> $GITHUB_ENV
          elif [[ "$BRANCH_NAME" == "main" ]]; then
            echo "ENV=prod" >> $GITHUB_ENV
          else
            echo "âŒ Unknown branch"
            exit 1
          fi

          echo "TAG=${BRANCH_NAME}-${SHORT_SHA}" >> $GITHUB_ENV
          echo "REPO_NAME=specranking-backend-${BRANCH_NAME}" >> $GITHUB_ENV

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build JAR with Gradle
        run: ./gradlew clean build -x test

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push Docker image to ECR
        run: |
          IMAGE="${{ env.ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/${{ env.REPO_NAME }}:${{ env.TAG }}"
          docker build -t "$IMAGE" .
          docker push "$IMAGE"

